body{
	background-color: white;
	color: black;
	font-size: 24px;
	margin: 1.5 auto;
	padding: 6px;
}

h1{
	background-color: lightblue;
	padding: 1.5 auto;
	text-align: center;
	font-size: 60px;
	font-family: 'Shadows Into Light Two', cursive;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

header{
	border-bottom: 4px dotted black;
}

#marketing {
	text-align: center;
}

p{
	line-height: 30px;
	font-size: 20px;
}

a{
	background-color: lightblue;
	color: black;
	padding:2;
	text-decoration: none;
}

#jobtitle {
	color: lightblue;
}

#date {
	color: slate;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 30;
}
	